@media screen and (max-width:996px){
    /*.navbarhead {
        height: 100%;
    }*/
    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: 0; 
    }
    .mainbar {
        padding: 0px;
    }
    #bodycontent #myCarousel img{
        height:30vw;
    }

    /*#topheaderbar {
        margin: -10px;
        height: 118px;
        background-size: cover;
        background-position: center;
    }

    #topheaderbar img{
        width:50px;
    }

    #topheaderbar h3{
        font-size: 14px;
    }*/
    .usernavs ul{
        padding:0px;
        float: none !important;
    }
    /*#topheaderbar{
        padding:0px;
        text-align: center;
    }*/
    #bodycontent {
        padding: 0px; 
    }
    /*.bottomnavg li {
        width: 100%;
    }*/
    .block2ulli li {
        width: 48%;
    }
    .leftpadding,
    .rightpadding{
        padding:0px;
    }
    .carousel-indicators {
        bottom: -13px;
    }

    .menubararrow{
        position: absolute;
        top: 181px;
        right: -7px;
    }
    #menutoggle{
        display:none;
    }

    .h_varyp {
        height: 50%;
    }

    h3.heading_title {
        font-size:16px;
    }

    #home_firstbar {
        width:100%;
    }
    #home_secondbar {
        width:80%;
    }

    .moresteps{
        left: -150px;
    }
    select, input, .searchbar button[type=submit] {
        font-size: 14px;
    }
    h3 {
        font-size: 18px;
    }
}